.custom-space-y-8 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(4rem * var(--tw-space-y-reverse));
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

@import './prism.css';